<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Game</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <img src="<%= screen.image %>" id="gameImage" alt="Game Image">
        <p id="gameText"><%= screen.text %></p>
        <div id="choices" data-current-screen="<%= screen.name %>">
            <% screen.choices.forEach(choice => { %>
              <button data-choice="<%= choice.value %>" data-next-screen="<%= choice.nextScreen %>">
                <%= choice.text %>
              </button>
            <% }) %>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>

